:root {
    --cell-width: 10vw;
    --cell-height: 10vw;
}
body, html {
    height: 100%;
}
body {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    font-size: 2em;
    color: gray;
    position: absolute;
    top: 10px;
    left: 10px;
}
.board {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;    
}
.board-row {    
    display: flex;
    flex-direction: row;
}
.cell {    
    width: var(--cell-width);
    height: var(--cell-height);
}
.cell.cell-black {
    background-color: black;
}
.cell.cell-white {
    background-color: white;
}
.copyright {
    font-size: 1em;
    color: gray;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
@media (min-width: 560px) {
    :root {
        --cell-width: 10vh;
        --cell-height: 10vh;
    }    
}
@media (min-width: 900px) {
    :root {
        --cell-width: 60px;
        --cell-height: 60px;
    }   
}