body, html {
    height: 100%;
}
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
main {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.input {
    display: flex;
    flex-direction: row;
}
.input div{
    display: flex;
    flex-direction: column;
    margin: 1vw;
    align-items: center;

}
span {
    display: block;
}
.word-guess {
    display: flex;
    flex-direction: row;    
}
.letter-guess {
    font-size: 1.5em;
    margin: 1vw;
    background-color: lightskyblue;
    width: 3.5vw;
    text-align: center;
}
.letter-guess.open {
    background-color: bisque;
}
.count-down {
    color: blueviolet;
    margin: 1vw;
}
.win-alert {
    color: brown;
    margin: 1vw;
}
.input.hidden {
    display: none;
}
.input-letter.hidden {
    display: none;
}
.play-again.hidden {
    display: none;
}
.what-word {
    position: absolute;
    bottom: 10vh;
}
.question {
    width: 50vw;
}