body, html {
    height: 100%;
}
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
main {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.input {
    display: flex;
    flex-direction: row;
}
.input div{
    display: flex;
    flex-direction: column;
    margin: 1vw;
    align-items: center;

}
span {
    display: block;
}
.word-guess {
    display: flex;
    flex-direction: row;    
}
.letter-guess {
    font-size: 6vw;
    margin: 1vw;
    background-color: black;
    text-align: center;
    width: 8vw;
    height: 8vw;
    justify-content: top;
}
.letter-guess.open {
    background-color: bisque;
}
.count-down {
    color: blueviolet;
    margin: 1vw;
}
.win-alert {
    color: brown;
    margin: 1vw;
}
.input.hidden {
    display: none;
}
.input-letter.hidden {
    display: none;
}
.input-letter input {
    width: 8vw;
}
.input-word input {
    width: 40vw;
}
.play-again.hidden {
    display: none;
}
.what-word {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
}
.question {
    width: 50vw;
}
.play-again {
    color: white;
    background-color: brown;
}