body, html {
    height: 90%;
}

body {
    display: flex;
    flex-direction: column;
}
.upper-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 2vh;
}
.main-class {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
}

.movie-item {
    display: flex;
    flex-direction: row;
}
.poster-section {
    width: 40vw;
    text-align: center;
}
.details-section {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.movie-image {
    width: 20vw;
}
.movie-title {
    font-size: large;
    text-transform: uppercase;
    font-style: oblique;
    text-align: center;
    color: lavender;
    background-color: darkgrey;
    padding: 2vh;
    
}
.movie-overview {
    justify-content: center;
    align-items: center;
    padding: 10%;
    background-color: beige;
}