body {
    display: flex;
    flex-direction: column;
    background-color:gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo {
    font-size: 2em;
    color: gray;
    background-color: burlywood;
    display: block;
    text-align: center;    
}
.main-class {
}
.details-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5vh;    
}
.details-image {
    
    width: 50vw;
    height: 70vw;
    border-radius: 12%;
}
.details-title {
    display: block;
    text-align: justify; 
    font-size: 1.2em;
    color: burlywood;
}
.thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    padding: 0;
    
}
.thumbnails-item {
    width: 20vw;
    height: 45vw;
    margin-top: 2vh;
    border: solid 1px burlywood;
    border-radius: 12%;    
    text-align: center; 
    background-color: brown;          
}
.thumbnails-anchor {
    text-decoration: none;
    color: brown;          
}
.thumbnails-image {
    display: block;
    width: 20vw;
    height: 25vw;           
}
.thumbnails-title {
    background-color: skyblue;  
    display:block;
    font-size: 5vw;        
}
.thumbnail-year {
    font-size: 4vw;
    color: skyblue;
    font-style: italic;
}