@font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff");
}
:root {
    --details-img-width: 50vw;
    --details-img-height: 70vw;
    --details-title-height: 20vh;
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 25vw;
    --thumbnails-title-height: calc( var(--thumbnails-img-height) * 0.3);
    --thumbnails-year-height: calc( var(--thumbnails-img-height) * 0.2) ;
    --wide: 2;
}
body, html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color:gray;
    margin: 0;    
}
.logo {
    font-size: 2em;
    color: gray;
    background-color: burlywood;
    display: block;
    text-align: center;
    font-family: lakeshore;
    text-transform: uppercase;    
}
.main-class {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}
.hidden.main-class{
    --thumbnails-img-width: 30vw;
    --thumbnails-img-height: 40vw;
}
.details-container { 
    display: flex;
    flex-direction: column;  
}
.hidden .details-container {
    display: none;
}
.div-details-container {
    position: relative;
}
.hide-button {
    color: brown;
    background-color: skyblue;
    position: absolute;
    top: 10px;
    right: 10px;
}
.details-image {
    width: var(--details-img-width);
    height: var(--details-img-height);
    border-radius: 6%;
    border: solid 1px burlywood;
}
.details-title {
    display: block;
    text-align: center; 
    color: brown;
    background-color: skyblue;
    width: var(--details-img-width);
    font-size: calc( var(--details-img-height) * 0.1);
    font-family: airstream;
    position: absolute;
    top: 80%;
    left: -4vh;
    border-radius: 2px;    
}
.details-year {
    display: block;
    text-align: right; 
    color: skyblue;
    background: brown;
    width: var(--details-img-width);
    font-size: calc( var(--details-img-height) * 0.08);
    font-family: airstream;
    position: absolute;
    top: 88%;
    right: -2vh;
    border-radius: 2px;
}
.thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 40vh;
    overflow-y: auto;
    justify-content: space-around;
    padding: 0;    
}
.hidden .thumbnails-list {
    max-height: 80vh;
    margin-bottom: 10vh;
}
.thumbnails-item {
    max-width: var(--thumbnails-img-width);
    min-height: calc( var(--thumbnails-img-height) + var(--thumbnails-title-height) + var(--thumbnails-year-height)); 
    margin-top: 2vh;
    border: solid 1px burlywood;
    border-radius: 6%;    
    text-align: center; 
    background-color: brown;
    overflow: hidden; 
}
.wide.thumbnails-item {
    max-width: calc (var(--thumbnails-img-width) * var(--wide));
}
.thumbnails-anchor {
    text-decoration: none;
    color: brown;          
}
.thumbnails-image {
    display: flex;
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);           
}
.wide .thumbnails-image {
    width: calc( var(--thumbnails-img-width) * var(--wide));
}
.thumbnails-title {
    background-color: skyblue;  
    display: flex;
    height: var(--thumbnails-title-height);
    font-size: calc( var(--thumbnails-title-height) * 0.5);
    font-family: lakeshore;
    justify-content: center;
    align-items: center;           
} 
.thumbnails-year {
    display: flex;
    color: skyblue;
    height: var(--thumbnails-year-height);
    font-size: calc( var(--thumbnails-year-height) * 0.8);
    font-family: airstream;
    justify-content: center;
    align-items: center;
}
.thumbnails-item:hover {
    transform: scale(1.1);
    margin-left: 10px;    
}
@media (min-width: 560px) {
    :root {
        --details-img-width: 60vh;
        --details-img-height: 80vh;
        --details-title-height: 10vh;
        --thumbnails-img-width: 20vh;
        --thumbnails-img-height: 25vh;     
    }
    .main-class {
        flex-direction: row;        
    }
    .hidden.main-class {
        --thumbnails-img-width: 30vh;
        --thumbnails-img-height: 40vh;
    }
    .thumbnails-list {
        flex-wrap: wrap;
        max-height: 80vh;
        width: 40vw;
        order: -1;
        justify-content: space-around;
    }
    .hidden .thumbnails-list {
        width: 80vw;
    }
    .thumbnails-item {
        margin: 1vh;
    }
    .details-container {
        width: 60vw;
        justify-content: center;
        align-items: center;
    }
    .div-details-container {
        width: var(--details-img-width);
    }
    .details-title {
        font-size: calc( var(--details-img-height) * 0.08);
        top: 82%;
    }
    .details-year {
        font-size: calc( var(--details-img-height) * 0.06);
        top: 89%
    } 
}
@media (min-width: 900px) {
    :root {
    --thumbnails-title-height: calc( var(--thumbnails-img-height) * 0.2);
    --thumbnails-year-height: calc( var(--thumbnails-img-height) * 0.1) ;
    }
    .details-title {
        font-size: calc( var(--details-img-height) * 0.06);
        top: 84%;
    }
    .details-year {
        font-size: calc( var(--details-img-height) * 0.04);
        top: 89%
    }   
        
}