.body {
    background-color:antiquewhite;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
.logo {
    display: block;
    text-align: center;
    font-size: 3em;
   }
.main-class {
}
.details-container {    
}
.details-image {
    display: inline-block;
    text-align: center;
    width: 300px;
    border-radius: 12px;
}
.details-title {
    display:block;
    font-size: 2em;
}
.thumbnails-item {
    display: inline-block;
    text-align: center;
}
.thumbnails-anchor {
    font-size: 1em;    
}
.thumbnails-image {
    display:inline-block;
    height: 200px;
    border-radius: 4px;
    text-align: center;
    
}
.thumbnails-title {
    display:block;
    font-size: 1em;
    text-align: center;
}